<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    {{>header}}
    <h1>{{title}}</h1>
    <p>Created by {{name}}</p>
    {{>footer}}
</body>

</html>